extends layout 
block head 
    title Create Blog
    script(src="/javascripts/inputForm.js" type='text/javascript') 
    link(rel="stylesheet", href="/styles/inputForm.css")
    div(class='navigation')
        nav(class='navigation-bar main-body')
            a(href="/")
                button(class='nav-button' id='homeBtn') Home
            a(href="/add")
                button(class='nav-button' id='addBtn' disabled) Create Blog

block body
    form(action="" method="post" enctype="multipart/form-data")
        label(for="title-inp" class='def-label')  Blog Title:
        input(type="text" name="title" id='title-inp' class='single-input' required) 
        br
        label(for="author-inp" class='def-label')  Auther Name:
        input(type="text" name="authorName" id='author-inp' class='single-input' required) 
        br
        label(for='blogText' class='def-label') Blog: 
        br
        textarea(name="blogText" class='mainBlogText' required)
        br
        label(for="gistOfBlog" class='def-label') Gist of this blog (100 characters): 
        br
        textarea(name='gistOfBlog' id='gistOfBlog' cols='30', rows='2' maxlength='200' required)
        div(id='charNum')
        br
        label(for="bannerFlag" class='def-label') Add a banner for your Blog ('*.jpg' only) 
        input(type="checkbox", id="bannerFlag" name="bannerFlag" value='checked')
        br
        div(id='imgInp' style='display: none')
            input(type="file" id='bannerInp' accept='image/jpg' name='bannerImage' hidden)
            label(id='file-button' for='bannerInp' class='pushable') 
                span(class='front') Choose file
            span(id='file-chosen' class='def-label') No file chosen
            br
            label(class='def-label') Banner Preview:
            img(id='preview')
        br 
        br
        button(type="submit" class='pushable') 
            span(class='front') Submit
